Dashboard/flows.json
[
    {
        "id": "70fb4917c9967e17",
        "type": "tab",
        "label": "Embedded",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "62a5a0701c337116",
        "type": "mqtt in",
        "z": "70fb4917c9967e17",
        "name": "",
        "topic": "Temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "ce5d695d0fa0bd67",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 690,
        "y": 220,
        "wires": [
            [
                "afa9dabe31b07fd5",
                "51e5737b8b0e80d2"
            ]
        ]
    },
    {
        "id": "d96c07b2c4798b0a",
        "type": "mqtt in",
        "z": "70fb4917c9967e17",
        "name": "",
        "topic": "Hum",
        "qos": "2",
        "datatype": "auto",
        "broker": "ce5d695d0fa0bd67",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 650,
        "y": 340,
        "wires": [
            [
                "1168c7f0dfea7e72",
                "345772cda7d206b9"
            ]
        ]
    },
    {
        "id": "afa9dabe31b07fd5",
        "type": "ui_gauge",
        "z": "70fb4917c9967e17",
        "name": "",
        "group": "925852bd50a64a83",
        "order": 1,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 890,
        "y": 400,
        "wires": []
    },
    {
        "id": "1168c7f0dfea7e72",
        "type": "ui_gauge",
        "z": "70fb4917c9967e17",
        "name": "",
        "group": "925852bd50a64a83",
        "order": 3,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 880,
        "y": 480,
        "wires": []
    },
    {
        "id": "51e5737b8b0e80d2",
        "type": "ui_chart",
        "z": "70fb4917c9967e17",
        "name": "",
        "group": "925852bd50a64a83",
        "order": 2,
        "width": 6,
        "height": 6,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 890,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "345772cda7d206b9",
        "type": "ui_chart",
        "z": "70fb4917c9967e17",
        "name": "",
        "group": "925852bd50a64a83",
        "order": 4,
        "width": 6,
        "height": 6,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 880,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "67eae1e610e4d692",
        "type": "mqtt out",
        "z": "70fb4917c9967e17",
        "name": "",
        "topic": "AlarmOnOff",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce5d695d0fa0bd67",
        "x": 530,
        "y": 560,
        "wires": []
    },
    {
        "id": "68d5cc7aa95e19d4",
        "type": "ui_switch",
        "z": "70fb4917c9967e17",
        "name": "",
        "label": "Scheduler",
        "tooltip": "",
        "group": "fbd89d3a66cbd540",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 360,
        "y": 560,
        "wires": [
            [
                "67eae1e610e4d692"
            ]
        ]
    },
    {
        "id": "2371417cc13804f2",
        "type": "ui_numeric",
        "z": "70fb4917c9967e17",
        "name": "",
        "label": "Days",
        "tooltip": "",
        "group": "fbd89d3a66cbd540",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 350,
        "y": 620,
        "wires": [
            [
                "393adec814f16e20"
            ]
        ]
    },
    {
        "id": "393adec814f16e20",
        "type": "mqtt out",
        "z": "70fb4917c9967e17",
        "name": "",
        "topic": "NumOfDaysToRepeat",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce5d695d0fa0bd67",
        "x": 540,
        "y": 620,
        "wires": []
    },
    {
        "id": "60800b447eeb519b",
        "type": "ui_text_input",
        "z": "70fb4917c9967e17",
        "name": "",
        "label": "1",
        "tooltip": "",
        "group": "fbd89d3a66cbd540",
        "order": 4,
        "width": 4,
        "height": "1",
        "passthru": false,
        "mode": "time",
        "delay": "300",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 760,
        "wires": [
            [
                "292e8874cc3bfb91"
            ]
        ]
    },
    {
        "id": "e64a1054271c085f",
        "type": "ui_switch",
        "z": "70fb4917c9967e17",
        "name": "",
        "label": "sw_1",
        "tooltip": "",
        "group": "fbd89d3a66cbd540",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 350,
        "y": 700,
        "wires": [
            [
                "86a1214f7f0a9476"
            ]
        ]
    },
    {
        "id": "86a1214f7f0a9476",
        "type": "mqtt out",
        "z": "70fb4917c9967e17",
        "name": "",
        "topic": "Alarm_1_OnOff",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce5d695d0fa0bd67",
        "x": 520,
        "y": 700,
        "wires": []
    },
    {
        "id": "292e8874cc3bfb91",
        "type": "mqtt out",
        "z": "70fb4917c9967e17",
        "name": "",
        "topic": "Alarm_1_Time",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce5d695d0fa0bd67",
        "x": 520,
        "y": 760,
        "wires": []
    },
    {
        "id": "bb00551e15b98447",
        "type": "ui_text_input",
        "z": "70fb4917c9967e17",
        "name": "",
        "label": "2",
        "tooltip": "",
        "group": "fbd89d3a66cbd540",
        "order": 6,
        "width": 4,
        "height": 1,
        "passthru": false,
        "mode": "time",
        "delay": "300",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 940,
        "wires": [
            [
                "0445eae3915c2540"
            ]
        ]
    },
    {
        "id": "f3f675b1404beaa6",
        "type": "ui_switch",
        "z": "70fb4917c9967e17",
        "name": "",
        "label": "sw_2",
        "tooltip": "",
        "group": "fbd89d3a66cbd540",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 350,
        "y": 880,
        "wires": [
            [
                "5e90f79276276a5e"
            ]
        ]
    },
    {
        "id": "5e90f79276276a5e",
        "type": "mqtt out",
        "z": "70fb4917c9967e17",
        "name": "",
        "topic": "Alarm_2_OnOff",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce5d695d0fa0bd67",
        "x": 520,
        "y": 880,
        "wires": []
    },
    {
        "id": "0445eae3915c2540",
        "type": "mqtt out",
        "z": "70fb4917c9967e17",
        "name": "",
        "topic": "Alarm_2_Time",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce5d695d0fa0bd67",
        "x": 540,
        "y": 940,
        "wires": []
    },
    {
        "id": "b6b740482bc421a3",
        "type": "ui_text_input",
        "z": "70fb4917c9967e17",
        "name": "",
        "label": "3",
        "tooltip": "",
        "group": "fbd89d3a66cbd540",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": false,
        "mode": "time",
        "delay": "300",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 1160,
        "wires": [
            [
                "f2071ed05ae560d7"
            ]
        ]
    },
    {
        "id": "a6ee777e740c4ab5",
        "type": "ui_switch",
        "z": "70fb4917c9967e17",
        "name": "",
        "label": "sw_3",
        "tooltip": "",
        "group": "fbd89d3a66cbd540",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 350,
        "y": 1100,
        "wires": [
            [
                "21cb6557d09a6081"
            ]
        ]
    },
    {
        "id": "21cb6557d09a6081",
        "type": "mqtt out",
        "z": "70fb4917c9967e17",
        "name": "",
        "topic": "Alarm_3_OnOff",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce5d695d0fa0bd67",
        "x": 520,
        "y": 1100,
        "wires": []
    },
    {
        "id": "f2071ed05ae560d7",
        "type": "mqtt out",
        "z": "70fb4917c9967e17",
        "name": "",
        "topic": "Alarm_3_Time",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce5d695d0fa0bd67",
        "x": 520,
        "y": 1160,
        "wires": []
    },
    {
        "id": "ad275a13805eb2d3",
        "type": "mqtt in",
        "z": "70fb4917c9967e17",
        "name": "",
        "topic": "alert",
        "qos": "2",
        "datatype": "auto",
        "broker": "ce5d695d0fa0bd67",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 690,
        "y": 160,
        "wires": [
            [
                "a371e42205f3c054"
            ]
        ]
    },
    {
        "id": "a371e42205f3c054",
        "type": "ui_toast",
        "z": "70fb4917c9967e17",
        "position": "top right",
        "displayTime": "2",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 940,
        "y": 160,
        "wires": []
    },
    {
        "id": "864f720acb5278c7",
        "type": "mqtt in",
        "z": "70fb4917c9967e17",
        "name": "",
        "topic": "UVINDEX",
        "qos": "2",
        "datatype": "auto",
        "broker": "ce5d695d0fa0bd67",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 720,
        "y": 60,
        "wires": [
            [
                "c0b9f9721781090e",
                "fa90afbe6aa3ecc5"
            ]
        ]
    },
    {
        "id": "c0b9f9721781090e",
        "type": "ui_gauge",
        "z": "70fb4917c9967e17",
        "name": "",
        "group": "dde38f9dbe8d3596",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light Intensity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 960,
        "y": 60,
        "wires": []
    },
    {
        "id": "fa90afbe6aa3ecc5",
        "type": "ui_chart",
        "z": "70fb4917c9967e17",
        "name": "",
        "group": "dde38f9dbe8d3596",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Light Intensity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1200,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "3559c9ab522c7870",
        "type": "ui_slider",
        "z": "70fb4917c9967e17",
        "name": "",
        "label": "MIn Angle",
        "tooltip": "",
        "group": "24ac140ebd2f5a99",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": 1,
        "x": 360,
        "y": 1240,
        "wires": [
            [
                "5befb76c91cd87b5"
            ]
        ]
    },
    {
        "id": "7e869e76cfbd7660",
        "type": "ui_slider",
        "z": "70fb4917c9967e17",
        "name": "",
        "label": "Controlling Factor",
        "tooltip": "",
        "group": "24ac140ebd2f5a99",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "x": 390,
        "y": 1300,
        "wires": [
            [
                "49b49cf6fa0838cc"
            ]
        ]
    },
    {
        "id": "5befb76c91cd87b5",
        "type": "mqtt out",
        "z": "70fb4917c9967e17",
        "name": "",
        "topic": "minimumAngle",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce5d695d0fa0bd67",
        "x": 660,
        "y": 1240,
        "wires": []
    },
    {
        "id": "49b49cf6fa0838cc",
        "type": "mqtt out",
        "z": "70fb4917c9967e17",
        "name": "",
        "topic": "CF",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce5d695d0fa0bd67",
        "x": 630,
        "y": 1300,
        "wires": []
    },
    {
        "id": "ff5c9e6de5a00ce1",
        "type": "ui_dropdown",
        "z": "70fb4917c9967e17",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "144359ce6dddf0ef",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Continous",
                "value": 1,
                "type": "num"
            },
            {
                "label": "repeated on-off",
                "value": 0,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "x": 1000,
        "y": 720,
        "wires": [
            [
                "c130ed356f430f1e"
            ]
        ]
    },
    {
        "id": "c130ed356f430f1e",
        "type": "mqtt out",
        "z": "70fb4917c9967e17",
        "name": "",
        "topic": "buzzerType",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce5d695d0fa0bd67",
        "x": 1210,
        "y": 720,
        "wires": []
    },
    {
        "id": "ca23934a6efc8a67",
        "type": "ui_text_input",
        "z": "70fb4917c9967e17",
        "name": "",
        "label": "Buzzer Delay",
        "tooltip": "",
        "group": "144359ce6dddf0ef",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 1010,
        "y": 780,
        "wires": [
            [
                "e52a1f713ddb2724"
            ]
        ]
    },
    {
        "id": "e52a1f713ddb2724",
        "type": "mqtt out",
        "z": "70fb4917c9967e17",
        "name": "",
        "topic": "buzzerDelay",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce5d695d0fa0bd67",
        "x": 1230,
        "y": 780,
        "wires": []
    },
    {
        "id": "8ecce3e7744c3aea",
        "type": "mqtt out",
        "z": "70fb4917c9967e17",
        "name": "",
        "topic": "buzzerfreq",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce5d695d0fa0bd67",
        "x": 1250,
        "y": 840,
        "wires": []
    },
    {
        "id": "c1dcb96f6d059c82",
        "type": "ui_text_input",
        "z": "70fb4917c9967e17",
        "name": "",
        "label": "Buzzer Frequency",
        "tooltip": "",
        "group": "144359ce6dddf0ef",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 1030,
        "y": 840,
        "wires": [
            [
                "8ecce3e7744c3aea"
            ]
        ]
    },
    {
        "id": "030f2761384124f9",
        "type": "ui_spacer",
        "z": "70fb4917c9967e17",
        "name": "spacer",
        "group": "add58e7a.c23c2",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "ce5d695d0fa0bd67",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "925852bd50a64a83",
        "type": "ui_group",
        "name": "Temperature and Humidity",
        "tab": "b37becd4538a06ce",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "fbd89d3a66cbd540",
        "type": "ui_group",
        "name": "Alarm",
        "tab": "b37becd4538a06ce",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dde38f9dbe8d3596",
        "type": "ui_group",
        "name": "UV INDEX",
        "tab": "b37becd4538a06ce",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "24ac140ebd2f5a99",
        "type": "ui_group",
        "name": "Shaded Window",
        "tab": "b37becd4538a06ce",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "144359ce6dddf0ef",
        "type": "ui_group",
        "name": "Buzzer Settings",
        "tab": "9f8c5412094ed697",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "add58e7a.c23c2",
        "type": "ui_group",
        "name": "Alarm",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b37becd4538a06ce",
        "type": "ui_tab",
        "name": "Tab3",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9f8c5412094ed697",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]